/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    background-attachment:fixed;
    background-color: #0B0B61;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:10px;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

div#alfondo {
   	position: fixed;
  	bottom: 0%;
    width: 100%;
}
div#centradologin {
    position: fixed;
    height: 10%;
    bottom: 40%;
    top: 40%;
    left: 5%;
    right: 5%;
}
.imgredondeada{
		border-radius: 45% / 20%;
		box-shadow: 0px 0px 15px #000;
		padding: 0;
		-moz-transition: all 1s;
		-webkit-transition: all 1s;
		-o-transition: all 1s;
}
.imgredondeada:hover{
		border-radius: 0;
		-moz-transition: all 1s;
		-webkit-transition: all 1s;
		-o-transition: all 1s;
		cursor:pointer;
}
.fotoperfil{
		margin-top: 7%;
		margin-bottom: 7%;
		border-radius: 45% / 20%;
		box-shadow: 0px 0px 15px #000;
		padding: 0;
		max-width: 100%;
		height: auto;
}
.ui-icon-heart {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);
}
.ui-icon-delete {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);
}
.fotocompat{
		margin-top: 7%;
		margin-bottom: 7%;
		border-radius: 45% / 20%;
		box-shadow: 0px 0px 15px #000;
		padding: 0;
		max-width: 97%;
		height: auto;
}
#map-page, #map-canvas {
		width: 100%;
		height: 90%;
		padding: 0;
}
